/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 4px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Playfair Display', serif;*/
  /*font-family: 'Droid Serif', serif;*/
}

:root {
  --pad: 0.5vw;
  --line-color: rgb(200, 200, 200);
  --line-width: .2vw;
  --title-size: 20px;
  --subtitle-size: 15px;
  --large-pad: 4vw;
  --h-margin: 8vw;
  --v-margin: 2vw;
  --indent: 2vw;
  --img-margin: 5vw;  /* margin between skill images */
  --header-size: 8vw;
}

.box {
  display: flex;
}

.box.col {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.pic {
  /*flex-grow: 1;*/
  margin-left: var(--indent);
  width: var(--header-size);
}

.name-title {
  font-size: var(--header-size);
  font-weight: bold;
  text-align: center;
  /*flex-grow: 5;*/
}

.resume {
  width: 100vw;
  height: 130vw;
}

.header {
  align-items: center;
  justify-content: space-around;
  margin: var(--v-margin) var(--h-margin);

  /*border: 2px solid gray;*/
}

.footer {
  margin: 8vh var(--h-margin) 0 var(--h-margin);
  /*text-align:center;*/
}

.info {
  margin: 0.5vh 0.5vw;
  font-size: 1.7vw;
  align-items: center;
  /*border: 2px solid rgb(187, 187, 187);*/
}

.infobox {
  flex-wrap: wrap-reverse;
  align-content: center;
  justify-content: flex-end;
  margin: 0 0 1vw 0;
}

.icon {
  height: 1.3em;
  margin-right: .5em
}

.skill-title {
  align-items: flex-end;
}

.info-title {
  margin: 0 var(--h-margin);
  justify-content: space-between;
}

.v-line {
  border-left: var(--line-width) solid var(--line-color);
  margin: var(--v-margin) var(--img-margin);
  grid-area: vline;
}

.h-line {
  border-top: var(--line-width) dotted var(--line-color);
  /*margin: 0 var(--h-margin) /*calc(1.618*var(--h-margin));*/*/
}

.skills-software {
  grid-area: img-sw;
}

.skills-ml {
  grid-area: img-ml;
}

.infogrid {
  /*justify-content: center;*/
  grid-template-columns: auto auto;
  grid-template-areas:
    "info1 info2"
    "info3 info4";

}

.info1 {
  grid-area: info1;
}

.info2 {
  grid-area: info2;
}

.info3 {
  grid-area: info3;
  margin-right: 2vw;
}

.info4 {
  grid-area: info4;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--title-size);
}

.title-ml {
  font-size: var(--subtitle-size);
  text-align: center;
  grid-area: title-ml;
  margin: 0 0 1vw 0;
}

.title-sw {
  font-size: var(--subtitle-size);
  text-align: center;
  grid-area: title-sw;
  margin: 0 0 1vw 0;
}

.experience {
  margin: 1vw var(--h-margin);
}

.experience-title {
  grid-area: title;
  font-weight: bold;
}

.grid {
  display: grid;
}

.skill-grid {
  grid-template-columns: 0.45fr auto 1fr;
  grid-template-areas:
  "title-ml . title-sw"
  "img-ml vline img-sw";
  margin: 1vw var(--h-margin) 0 var(--h-margin);
}

.experience-grid {
  /*grid-template-columns: 14.6vw 23.6vw 1fr auto;*/
  /*grid-template-columns: 23.6vw 14.6vw 1fr auto;*/
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
  "title title date"
  ". content content";
  /*margin: 0 var(--indent);*/
  margin: 2vh 0 0 var(--indent);
  /*margin-top: 2vw;*/
  /*margin: 0 var(--h-margin) 1vw var(--h-margin);*/
  margin-left: ;
}

.ut-experience-grid {
  /*margin: var(--indent)*/
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
  "title title date"
  "topic1 content1 content1"
  "topic2 content2 content2"
  "topic3 content3 content3"
  "topic4 content4 content4";
  /*margin: 0 var(--indent);*/
  /*margin: 1vh 0 0 0*/
  /*margin: 0 0 0 0.5vw;*/
  margin-left: var(--indent);
}

.exp-content-grids {
  border-left: var(--line-width) solid var(--line-color);
  margin-left: var(--indent);
  margin-top: 1vh;
}

.experience-date {
  grid-area: date;
  text-align: right;
}

.experience-topic {
  grid-area: topic;
  font-style: italic;
  /*margin: 0.5vw 1vw 0 0;*/
  /*padding-right: 1vw;*/
  text-align: right;
  margin: 0.5vh 0 0 var(--indent);
}

.experience-content {
  grid-area: content;
  margin-top: 0.5vh;
  margin-left: var(--indent);
}

.t1 {
  grid-area: topic1;
}

.c1 {
  grid-area: content1;
}

.t2 {
  grid-area: topic2;
}

.c2 {
  grid-area: content2;
}

.t3 {
  grid-area: topic3;
}

.c3 {
  grid-area: content3;
}

.t4 {
  grid-area: topic4;
}

.c4 {
  grid-area: content4;
}

.item {
  padding: var(--pad);
}



/* mission */
